*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: #0000ff;
    width: 100%;
    height:auto;
}
.formcontainer{
    background-color: #ffa500;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 20px;
}
.loginform{
    background-color: #1ce4bf;
    width: 30%;
    height: auto;
}
form{
    background-color:#ff00ff ;
    width: 100%;
    height: auto;
}
.formgroup{
     background: #808000;
     width: 100%;
     height: auto;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 50px 15px;

}
.button{
    background: #fff;
    width: auto;
    height:auto;
    padding: 1px 1px;
    text-align: center;
    line-height: 1px;
} 